@use "../../assets/sass/variables" as *;
.card {
    border: 2px solid white;
    border-radius: 5px;
    width: 200px;
    height: 500px;
    align-items: center;
    text-align: center;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 5px;
    background-color: $primary-color;


    &__heading {
        font-size: 25px;
        font-style: none;
        font-family: $heading-font;


    }
    &__tagline {
        font-size: 15px;
    }
    &__img {
        height: 300px;
    }
}

a {
    color: inherit;
    text-decoration: inherit;
}