@use "../../assets/sass/variables" as *;
.card {
    border-radius: 5px;
    width: 200px;
    height: 430px;
    align-items: center;
    text-align: center;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: $tertiary-color;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: $heading-font;

    &__heading {
        font-size: 25px;
        font-style: none;
        
    }
    &__tagline {
        font-size: 15px;
        font-weight: normal;
    }
    &__img {
        height: 280px;
    }
}

a {
    color: inherit;
    text-decoration: inherit;
}