
.card {
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
    height: 500px;
    align-items: center;
    text-align: center;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    margin:5px;
    background-color: #003844;
    color: white;


    &__heading {
        font-size: 25px;
        font-style: none;


    }
    &__tagline {
        font-size: 15px;
    }
    &__img {
        height: 300px;
    }
}

a {
    color: inherit;
    text-decoration: inherit;
}