@use "../../assets/sass/variables" as *;

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.categories {
    display : flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    font-family: $heading-font;

    &__category {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

