@use "../../assets/sass/variables" as *;

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.categories {
    display : flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    font-family: $heading-font;

    &__category {
        border: 8px solid $black;
        width: 340px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        margin-top: 40px;
        margin-bottom: 30px;

        &__heading {
            margin-bottom: 5px;
        }
    }
}

