@use "../../assets/sass/variables" as *;

.navbar {
    display: grid;
    grid-template-columns: 70px 1fr 120px;
    width: 100vw;
    height: 40px;

    color: $black;
    background-color: rgb(67,201,213);
    text-decoration: none;
    font-family: $heading-font;
    font-size: 30px;
    text-align: center;
    
}