@use "../../assets/sass/variables" as *;

.navbar {
    display: grid;
    grid-template-columns: 90px 1fr 160px;
    width: 99.5;
    height: 45px;
    align-self: center;
    position: sticky;
    z-index: 3;
    top: 0;
    

    color: $black;
    background-color: rgb(67,201,213);
    text-decoration: none;
    font-family: $heading-font;
    font-size: 38px;
    text-align: center;
}