@use "../../assets/sass/variables" as *;

.main {
    display: grid;
    grid-template-columns: 200px 1fr;
    background-color: $black;
    
    grid-template-areas: 
        "heading heading"
        "filters beerlist";

        &__heading {
            grid-area: "heading";
            font-family: $heading-font;
            text-align: center;
            width: 99.5vw;
            padding: 5px;
            font-size: 50px;
            margin: 0px;
            background-color: $black;
            color: white;
            letter-spacing: 10px;
            font-weight: normal;
            position: sticky;
            z-index: 1;
            top: 45px;
        }
}

@media only screen and (max-width: 768px) {
    .main {
        grid-template-areas: 
        "heading"
        "beerlist";
        grid-template-columns: 1fr;
        grid-template-rows: 180px 1fr;

        &__heading {
            font-size: 40px;

        }

        
    }
}