@use "../../assets/sass/variables" as *;
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    grid-area: beerlist;
    background-color: $white;

}