$black: #2d3436;
$white: #ffffff;
$grey: #d1d1e9;

$primary-color: #43C9D5;
$secondary-color: #585858;

@font-face {
    font-family: "Veneer";
    src: url('./../fonts/Veneer.ttf');
}

$heading-font: "Veneer"
